* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --container-width: 1230px;
  --container-padding: 15px;
  --font-main: "Circular Std", sans-serif;
  --page-bg: #fff;
  --text-color: #181818;
  --text-muted: #909090;
  --accent: #35AFF4;
  --text-white: #fff;
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
}

.title-1 {
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.title-1--decor {
  position: relative;
}
.title-1--decor::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 268px;
  height: 24px;
  z-index: -1;
  background-image: url("./../img/discover/underline.svg");
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .title-1--decor::after {
    width: 184px;
    height: 12px;
    background-size: contain;
  }
}
@media (max-width: 1023px) {
  .title-1 {
    font-size: 52px;
  }
}
@media (max-width: 767px) {
  .title-1 {
    font-size: 32px;
  }
}
@media (max-width: 374px) {
  .title-1 {
    font-size: 26px;
  }
}

.title-3 {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 767px) {
  .title-3 {
    font-size: 28px;
  }
}

.text {
  color: var(--text-muted);
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 150%; /* 27px */
}
.text p + p {
  margin-top: 1em;
}
@media (max-width: 767px) {
  .text {
    font-size: 16px;
  }
}

.muted {
  color: var(--text-muted);
}

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

.container {
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  margin: 0 auto;
}

.container-right {
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: 1229px) {
  .container-right {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }
}

.container-left {
  padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: 1229px) {
  .container-left {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }
}

html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.footer {
  padding: 60px 0;
  background-color: #e3e3e3;
}

.autoComplete_wrapper {
  display: block;
  position: relative;
}

.autoComplete_wrapper > input {
  width: 100%;
  height: 18px;
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  outline: none;
}

.autoComplete_wrapper > input::placeholder {
  color: var(--text-muted);
  transition: all 0.3s ease;
}

.autoComplete_wrapper > ul {
  position: absolute;
  max-height: 226px;
  overflow-y: scroll;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0.5rem 0 0 0;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid rgba(33, 33, 33, 0.1);
  z-index: 1000;
  outline: none;
}

.autoComplete_wrapper > ul > li {
  padding: 10px 20px;
  list-style: none;
  text-align: left;
  font-size: 16px;
  color: #212121;
  transition: all 0.1s ease-in-out;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease;
}

.autoComplete_wrapper > ul > li::selection {
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
}

.autoComplete_wrapper > ul > li:hover {
  cursor: pointer;
  background-color: rgba(123, 123, 123, 0.1);
}

.autoComplete_wrapper > ul > li mark {
  background-color: transparent;
  color: var(--accent);
  font-weight: bold;
}

.autoComplete_wrapper > ul > li mark::selection {
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
}

.autoComplete_wrapper > ul > li[aria-selected=true] {
  background-color: rgba(123, 123, 123, 0.1);
}

@media only screen and (max-width: 600px) {
  .autoComplete_wrapper > input {
    width: 100%;
  }
}
.btn-login {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 8px 20px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #B7B7B7;
  background: #fff;
  color: #454545;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 150%; /* 24px */
  transition: background-color 0.2s ease-in, color 0.2s ease-in, opacity 0.2s ease-in;
}

.btn-login:hover, .btn-login:focus {
  opacity: 0.8;
}

.btn-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 8px 20px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #B7B7B7;
  background: #181818;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 150%; /* 24px */
  transition: background-color 0.2s ease-in, color 0.2s ease-in, opacity 0.2s ease-in;
}

.btn-signup:hover, .btn-signup:focus {
  opacity: 0.8;
}

.card-review {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(23, 28, 31, 0.23);
}

.card-review__rating {
  display: flex;
  gap: 4px;
}

.card-review__text {
  color: var(--text-muted);
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 150%; /* 24px */
}

.card-review__author {
  display: flex;
  align-items: center;
  gap: 16px;
}

.card-review__author-img {
  border-radius: 100px;
}

.card-review__author-name {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.card-review__author-role {
  color: var(--text-muted);
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 150%; /* 24px */
}

.card__img {
  overflow: hidden;
  margin-bottom: 16px;
  border-radius: 12px;
}
.card__img img {
  width: 100%;
}

.card__title-wrapper {
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.card__title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}

.card__rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
}
.card__rating::before {
  content: "";
  display: block;
  width: 17px;
  height: 16px;
  background-image: url("./../img/icons/star-small.svg");
  background-repeat: no-repeat;
}

.card__price {
  color: var(--text-muted);
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 150%; /* 24px */
}
.card__price span {
  color: var(--text-color);
}
.card__price i {
  color: var(--accent);
  font-style: normal;
}

.discover {
  padding: 60px 0;
}
@media (max-width: 767px) {
  .discover {
    padding: 30px 0;
  }
}

.discover__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}
@media (max-width: 1023px) {
  .discover__grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.discover__title {
  margin-bottom: 24px;
}

.discover__text {
  margin-bottom: 40px;
}
@media (max-width: 374px) {
  .discover__text {
    margin-bottom: 20px;
  }
}

.discover__picture {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  justify-self: center;
}
@media (max-width: 1023px) {
  .discover__picture {
    grid-row: -1/1;
  }
}

.discover__picture-hint {
  position: absolute;
  top: 90px;
  left: 40px;
  z-index: 9;
}
@media (max-width: 1439px) {
  .discover__picture-hint {
    top: 40px;
    left: 20px;
  }
}
@media (max-width: 767px) {
  .discover__picture-hint {
    top: 30px;
    left: 0px;
  }
}
@media (max-width: 374px) {
  .discover__picture-hint {
    display: none;
  }
}

.discover__picture-scroll {
  position: absolute;
  right: 15px;
  bottom: 20px;
}
@media (max-width: 1439px) {
  .discover__picture-scroll {
    right: 0px;
    bottom: 0px;
  }
}
@media (max-width: 767px) {
  .discover__picture-scroll {
    width: 30%;
  }
}

.footer-nav {
  display: grid;
  gap: 24px;
}
@media (max-width: 767px) {
  .footer-nav {
    gap: 12px;
  }
}

.footer-nav__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}

.footer-nav__list {
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 150%; /* 24px */
}
.footer-nav__list li {
  padding: 8px 0;
}

.footer {
  padding: 80px 0;
  background: #181818;
  color: var(--text-white);
}
.footer a {
  color: var(--text-white);
}
@media (max-width: 767px) {
  .footer {
    padding: 40px 0;
  }
}

.footer__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 128px;
}
@media (max-width: 767px) {
  .footer__row {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.footer__copyright {
  display: grid;
  gap: 24px;
}

.footer__copyright-text {
  max-width: 300px;
}

.footer__nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
}
@media (max-width: 767px) {
  .footer__nav {
    grid-row: -1/1;
    gap: 20px;
  }
}

.form {
  padding: 12px 16px;
  display: grid;
  grid-template-columns: 1fr auto 1fr auto;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
  border: 1px solid rgba(144, 144, 144, 0.3);
  background: #fff;
}
@media (max-width: 767px) {
  .form {
    grid-template-columns: 1fr;
  }
}

.form__devider {
  height: 24px;
  width: 1px;
  background: #909090;
}
@media (max-width: 767px) {
  .form__devider {
    display: none;
  }
}

.form__label {
  padding-left: 36px;
  display: grid;
  gap: 8px;
  background-image: url("./../img/icons/map.svg");
  background-position: 0 0; /* x y */
  background-size: auto;
  background-repeat: no-repeat;
}
.form__label span {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.form__label--calendar {
  background-image: url("./../img/icons/calendar.svg");
}

.form__input {
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}
.form__input::placeholder {
  color: var(--text-muted);
}

.form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 10px;
  background: var(--accent);
  transition: opacity 0.2s ease-in;
}
.form__btn:hover {
  opacity: 0.8;
}

.header {
  padding: 16px 0;
}

.hint-discover {
  display: flex;
  padding: 12px;
  gap: 16px;
  max-width: 324px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 34px 0px rgba(50, 75, 104, 0.17);
}

.hint-discover__picture {
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
}

.hint-discover__desc {
  flex-grow: 1;
}

.hint-discover__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}

.hint-discover__rating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
}
.hint-discover__rating::before {
  content: "";
  width: 17px;
  height: 16px;
  background-image: url("./../img/icons/star-small.svg");
  background-repeat: no-repeat;
}

.hint-discover__price {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.hint-discover__price i {
  color: var(--accent);
  font-style: normal;
}

.logo {
  font-size: 32px;
}

.mobile-nav {
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: var(--accent);
  transition: all 0.2s ease-in;
}

.mobile-nav--open {
  top: 0;
}

.mobile-nav a {
  color: #fff;
}

.mobile-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  font-size: 28px;
}
.mobile-nav__list .active {
  opacity: 0.5;
}

/* Nav Icon */
.mobile-nav-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 2px;
  --spacing: 8px;
  --color: #000;
  --radius: 4px;
  height: calc(var(--line-height) * 3 + var(--spacing) * 2);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  border-radius: var(--radius);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  border-radius: var(--radius);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {

  top: calc(-1 * (var(--line-height) + var(--spacing)));
}

.nav-icon::after {

  top: calc(var(--line-height) + var(--spacing));
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

.mobile-nav-btn {
  position: relative;
  z-index: 999;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.nav__logo {
  flex-shrink: 0;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.nav__list a {
  color: #181818;
}
.nav__list a:hover,
.nav__list a.active {
  color: #35aff4;
}
@media (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

.nav__btns {
  display: flex;
  gap: 12px;
}
@media (max-width: 767px) {
  .nav__btns {
    display: none;
  }
}

.nav__icon {
  display: none;
}
@media (max-width: 767px) {
  .nav__icon {
    display: block;
  }
}

.partners {
  position: relative;
  z-index: -1;
  padding: 60px 0;
}
@media (max-width: 767px) {
  .partners {
    padding: 30px 0;
  }
}

.partners__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1023px) {
  .partners__row {
    flex-direction: column;
  }
}

.partners__title {
  color: var(--text-muted);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 33.6px */
}

.partners__content {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
}
@media (max-width: 1439px) {
  .partners__content {
    gap: 20px;
    justify-content: center;
  }
}

.popular {
  padding: 60px 0;
}

.popular__top {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media (max-width: 475px) {
  .popular__top {
    flex-direction: column;
    align-items: flex-start;
  }
}

.popular__title {
  display: grid;
  gap: 16px;
}
@media (max-width: 767px) {
  .popular__title {
    gap: 8px;
  }
}

.popular__controls {
  flex-shrink: 0;
  display: flex;
  gap: 15px;
}

.scroll-down {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.scroll-down__text {
  animation: rotation 10s linear 0s infinite running normal;
}

.scroll-down__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.subscribe-form {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media (max-width: 475px) {
  .subscribe-form {
    flex-direction: column;
    align-items: stretch;
  }
}

.subscribe-form__input {
  flex-grow: 1;
  padding: 12px;
  padding-left: 44px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #fff;
  background: var(--white, #fff);
  color: var(--text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  line-height: 150%; /* 21px */
  background-image: url("./../img/icons/email.svg");
  background-position: 12px 12px; /* x y */
  background-size: auto;
  background-repeat: no-repeat;
}
.subscribe-form__input::placeholder {
  color: var(--text-muted);
}

.subscribe-form__btn {
  padding: 12px 24px;
  height: 48px;
  border-radius: 8px;
  background: #181818;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 150%; /* 24px */
  transition: opacity 0.2s ease-in;
}
.subscribe-form__btn:hover {
  opacity: 0.9;
}

.subscribe {
  overflow: hidden;
  padding: 80px 0;
  background-color: var(--accent);
  color: var(--text-white);
}
@media (max-width: 1439px) {
  .subscribe {
    padding: 40px 0;
  }
}

.subscribe__row {
  position: relative;
  padding-left: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.subscribe__row::before {
  content: "";
  position: absolute;
  left: -80px;
  top: -110px;
  width: 236px;
  height: 273px;
  background-image: url("./../img/subscribe/subscribe-pin-bg.svg");
  background-repeat: no-repeat;
}
@media (max-width: 1023px) {
  .subscribe__row::before {
    top: -45px;
  }
}
@media (max-width: 767px) {
  .subscribe__row::before {
    display: none;
  }
}
@media (max-width: 1023px) {
  .subscribe__row {
    padding: 0 150px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .subscribe__row {
    padding: 0;
  }
}

.subscribe__desc {
  display: grid;
  gap: 4px;
}

.subscribe__title {
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.subscribe__text {
  font-size: 20px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}

.subscribe__form {
  flex-grow: 1;
  min-width: 400px;
}
@media (max-width: 767px) {
  .subscribe__form {
    min-width: unset;
  }
}
@media (max-width: 475px) {
  .subscribe__form {
    width: 100%;
  }
}

.testimonials-horizontal {
  display: none;
}
.testimonials-horizontal .swiper {
  padding: 30px 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 1023px) {
  .testimonials-horizontal {
    display: block;
  }
}

.testimonials__grid {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin: 0 -10px;
}
@media (max-width: 1023px) {
  .testimonials__grid {
    display: none;
  }
}

.testimonials__swiper {
  height: 900px;
}
@media (max-width: 1439px) {
  .testimonials__swiper {
    height: 600px;
  }
}
.testimonials__swiper .swiper-slide {
  padding: 0 10px 32px;
  height: 357px !important;
}
.testimonials__swiper .swiper-slide > * {
  height: 100%;
}
@media (max-width: 1439px) {
  .testimonials__swiper .swiper-slide {
    height: 400px !important;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-50%);
    opacity: 1;
    filter: blur(0px);
  }
  97% {
    transform: translateY(-50%);
    opacity: 0;
    filter: blur(10px);
  }
  98% {
    transform: translateY(0%);
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
    filter: blur(0px);
  }
}
.smooth-transition {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}